In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

In [6]:
df_cur = pd.read_csv("/content/drive/MyDrive/currency_rates_082020_EUR (1).csv")
df_cur.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
df_cur.sample(10)

    currency       date        rate
15       GBP   8/6/2020    0.903835
28       USD   8/9/2020    1.178450
117      PLN   8/8/2020    4.413600
92       DKK   8/3/2020    7.447050
111      PLN   8/2/2020    4.424015
56       NZD   8/7/2020    1.786125
219      BRL  8/10/2020    6.435100
193      HUF   8/4/2020  346.272500
153      NOK   8/4/2020   10.736700
51       NZD   8/2/2020    1.775400

In [8]:
df_cur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [9]:
df_sales = pd.read_csv("/content/drive/MyDrive/sales_082020 (1).csv")
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [10]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [13]:
df_sales.shape

(237671, 10)

In [12]:
df_sales.shape[0]

237671

In [14]:
len(df_sales)

237671

In [15]:
df_sales.shape[1]

10

In [16]:
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [17]:
len(df_sales["seller_id"].unique())

114227

In [18]:
df_sales["seller_id"].nunique()

114227

In [19]:
df_sales["currency"].unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [20]:
df_sales1 = df_sales.copy()

In [21]:
df_cur1 = df_cur.copy()

In [22]:
df_sales1.date = pd.to_datetime(df_sales1.date)

In [ ]:
df_sales1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 18.1+ MB

In [23]:
df_cur1.date = pd.to_datetime(df_cur1.date)

In [24]:
df_cur1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    datetime64[ns]
 2   rate      220 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.3+ KB

In [26]:
df_new = pd.merge(df_sales1, df_cur1, how="inner", on=["currency", "date"])
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [27]:
df_new.sample(10)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
123112,lcc8mj5sgn,US,ctrwmv9z,US,n10erxqzgvwe,Tops - Mens,Off-White,USD,288.87,2020-08-03,1.176250
182460,megsi2djzq,US,t8qh318a,US,xxnnnvjac3wt,Tops - Womens,Brandy Melville,USD,19.14,2020-08-08,1.178700
61611,jso0qv9qke,GB,wkdebbzi,GB,xzvfz7wvyfr1,Tops - Womens,NaN,GBP,10.56,2020-08-07,0.902860
230794,grebkoypnz,US,ggbzhqym,RoW,qnlgua04w7pz,Shoes,NaN,EUR,90.74,2020-08-09,1.000000
196488,5akwtmb4oo,US,27tqsza8,US,qk06xa7bic8g,Shoes,Converse,USD,75.96,2020-08-04,1.181445
50661,alzfn89g1b,GB,t36i6njc,GB,cnoh4gefjj2f,Tops - Womens,NaN,GBP,19.92,2020-08-07,0.902860
217928,1zvzytvr11,US,ciy5rr3n,US,uzog3tjo4dck,Dresses,For Love & Lemons,USD,248.59,2020-08-07,1.178785
197320,45i82rhl24,US,z9hspiwl,US,9yttfqkspovf,Dresses,NaN,USD,18.45,2020-08-04,1.181445
49767,y58evcwoc0,GB,eac8xqad,GB,3rpyrk0jse7t,Tops - Womens,Missguided,GBP,8.45,2020-08-07,0.902860
44503,y9vjp7qrav,GB,3mk88mby,GB,ufr8pkmdcnpj,Jewellery,NaN,GBP,2.24,2020-08-07,0.902860

In [28]:
df_new["total"] = df_new.price / df_new["rate"]

df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [31]:
df_new["total"].sum().round()

6471511.0

In [ ]:
df_sales1.brand.value_counts().head(1)

Nike    9575
Name: brand, dtype: int64

In [ ]:
df_new[df_new["brand"] == "Nike"]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
44,vjgvh5sm1u,GB,3u54hwb8,GB,0xg6kw68tooi,Accessories,Nike,GBP,14.34,2020-08-03,0.899350,15.944849
52,nmoew72h1d,GB,fyebp9sr,GB,12vfmncsnv39,Bottoms - Womens,Nike,GBP,4.34,2020-08-03,0.899350,4.825707
101,rsmgwkeh5m,GB,h7ep7gdx,GB,lesgirq6lg9k,Tops - Mens,Nike,GBP,37.29,2020-08-03,0.899350,41.463279
124,tnzmuezef5,GB,4jzyosjb,GB,9v2hxh4s2zdh,Outerwear - Mens,Nike,GBP,92.82,2020-08-03,0.899350,103.207872
177,1lwl9d7hjv,GB,ozu8m56v,GB,3dzpk2q8rm9m,Outerwear - Mens,Nike,GBP,28.18,2020-08-03,0.899350,31.333741
...,...,...,...,...,...,...,...,...,...,...,...,...
237121,h4bctiqq19,CA,ncyc4zht,CA,6crrsebuqsd8,Tops - Womens,Nike,CAD,33.63,2020-08-04,1.570995,21.406815
237133,bhmkajmnq7,CA,0fa1868z,CA,prw8mi0edc45,Tops - Womens,Nike,CAD,11.32,2020-08-04,1.570995,7.205624
237174,mvdxscl1ne,CA,rt1iq2og,CA,yzoo2tbnr154,Shoes,Nike,CAD,21.71,2020-08-04,1.570995,13.819267
237366,5pdtj7v7zg,CA,eqatx18l,CA,265zvtgm51rc,Shoes,Nike,CAD,87.04,2020-08-07,1.577900,55.161924
237428,054kp10hma,CA,qpr68mwy,CA,dniv4v3ctxdh,Outerwear,Nike,CAD,39.08,2020-08-07,1.577900,24.767096

In [ ]:
df_new[df_new["brand"] == "Nike"].total.sum().round()

385022.0

In [32]:
df_new.groupby("brand").total.sum().sort_values(ascending=False)

brand
Nike                  385022.414067
Adidas                114211.542782
American Vintage       89939.908652
Brandy Melville        87735.664806
Dr. Martens            81491.623673
                          ...
butter LONDON              5.457968
Ann Demeulemeester         5.262487
Popular Sports             4.452175
360 Cashmere               2.852719
36572                      0.950199
Name: total, Length: 1134, dtype: float64

In [ ]:
df_sales.category.unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

In [ ]:
df_sales.brand.unique()

array([nan, 'Adidas Originals', 'Berghaus', ..., 'Top Stitch',
       'Kimora Lee Simmons', 'Vita Fede'], dtype=object)

In [ ]:
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [ ]:
(df_sales.category == "Jewellery") & (df_sales.brand.isnull())

0         False
1         False
2         False
3         False
4         False
          ...
237666    False
237667    False
237668    False
237669    False
237670    False
Length: 237671, dtype: bool

In [ ]:
df_sales[(df_sales.category == "Jewellery") & (df_sales.brand.isnull())]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
23,94lh9gu3bu,US,dhsa2q6o,US,1m846u2l2dyl,Jewellery,NaN,USD,16.29,2020-08-03
48,u8da411658,AU,qn7p4cv2,AU,dd4d4p2h4us2,Jewellery,NaN,AUD,12.52,2020-08-07
49,9exo58j839,AU,qn7p4cv2,AU,6nogqtmgfjsn,Jewellery,NaN,AUD,8.48,2020-08-09
50,9exo58j839,AU,qn7p4cv2,AU,w5ixs8y20z3n,Jewellery,NaN,AUD,5.58,2020-08-09
51,9exo58j839,AU,qn7p4cv2,AU,g5usn39z8b7u,Jewellery,NaN,AUD,5.37,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237545,rabu7nz8gn,US,rv5nmiwq,US,ikfosml5pjas,Jewellery,NaN,USD,21.19,2020-08-05
237568,ytjobx2wzg,GB,qib5sh0l,GB,tn00dvezdp43,Jewellery,NaN,GBP,1.15,2020-08-05
237569,ytjobx2wzg,GB,qib5sh0l,GB,eykndnmcb4g6,Jewellery,NaN,GBP,1.15,2020-08-05
237616,p0jol2ieus,US,4pi8qok2,US,0ipj5zmes1cu,Jewellery,NaN,USD,18.67,2020-08-08
237643,q86525x69t,GB,33hffrhq,GB,426jwzj6b2uz,Jewellery,NaN,GBP,5.30,2020-08-05

In [ ]:
df_sales[(df_sales.category == "Jewellery") & (df_sales.brand.isnull())].product_code.nunique()

10931

In [ ]:
df_sales.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Duke                     1
Haider Ackermann         1
Born x Raised            1
Cruyff                   1
Chocoolate               1
Name: brand, Length: 1134, dtype: int64

In [ ]:
df_sales.brand.value_counts().index

Index(['Nike', 'Brandy Melville', 'Topshop', 'PrettyLittle Thing', 'Adidas',
       'American Vintage', 'Zara', 'Urban Outfitters', 'ASOS', 'Vans',
       ...
       'do Sport', 'Current Seen', 'Melody Ehsani', 'Evan Picone',
       'Lauren Brooke', 'Duke', 'Haider Ackermann', 'Born x Raised', 'Cruyff',
       'Chocoolate'],
      dtype='object', length=1134)

In [ ]:
df_sales.brand.value_counts().values

array([9575, 5065, 4561, ...,    1,    1,    1], dtype=int64)

In [34]:
((df_sales.brand.value_counts() > 34) & (df_sales.brand.value_counts() < 56))

Nike                  False
Brandy Melville       False
Topshop               False
PrettyLittle Thing    False
Adidas                False
                      ...
Preen                 False
Wacoal                False
Shu Uemura            False
Parker                False
Vita Fede             False
Name: brand, Length: 1134, dtype: bool

81

In [33]:
((df_sales.brand.value_counts() > 34) & (df_sales.brand.value_counts() < 56)).sum()

81

In [ ]:
(df_sales.groupby('brand')['brand'].count().apply(lambda x: 34 < x < 56)).sum()

81

In [35]:
df_sales.head(3)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07

In [ ]:
df_sales.buyer_country.value_counts()

GB     134704
US      82661
AU       7868
IE       4046
RoW      2880
IT       2532
CA       2247
DE        466
FR        267
Name: buyer_country, dtype: int64

In [ ]:
df_sales.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

In [38]:
df_sales[(df_sales["category"] == "Shoes") & (df_sales["buyer_country"] == "AU")].shape[0]

658

In [39]:
len(df_sales[(df_sales["category"] == "Shoes") & (df_sales["buyer_country"] == "AU")])

658

In [40]:
df_new.groupby("brand")["total"].mean().sort_values(ascending=False)

brand
Goyard            338.926936
Loewe             334.530369
Craig Green       266.792684
TAG Heuer         224.586782
Emilio Pucci      214.758636
                     ...
Popular Sports      4.452175
Max Factor          4.329298
Bronica             3.329066
360 Cashmere        0.950906
36572               0.950199
Name: total, Length: 1134, dtype: float64

In [43]:
df_new[(df_new["seller_country"] == "GB") & (df_new["buyer_country"] == "GB")]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.899350,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.899350,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.899350,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.899350,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.899350,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
235867,4bdwbzrro6,GB,k3mm4vxx,GB,83ud4yc60daa,Accessories,NaN,EUR,19.03,2020-08-04,1.000000,19.030000
236300,opd00596sb,GB,an5r1hl6,GB,0ku1jrnf43o3,Tops - Womens,Fendi,EUR,59.95,2020-08-04,1.000000,59.950000
236796,yfi1i9skeo,GB,x20r5ih7,GB,cqevc7rcp5my,Tops - Mens,Octobers Very Own,CAD,422.54,2020-08-03,1.575375,268.215504
236924,0txj6lkg8n,GB,wpenf96j,GB,xczajl2pp9se,Accessories,Louis Vuitton,NZD,117.11,2020-08-09,1.785000,65.607843
237633,k357zicv95,GB,pzbp73fd,GB,yemuo4mkv1ux,Bottoms - Mens,Unbranded,SEK,212.27,2020-08-05,10.272170,20.664572

In [44]:
df_new[(df_new["seller_country"] == "GB") & (df_new["buyer_country"] == "GB")].total.sum().round()

3526745.0

In [48]:
a = df_new[(df_new["seller_country"] == "US") & (df_new["buyer_country"] == "US")].total.sum()
a

2021779.311517296

In [47]:
b = df_new[df_new["seller_country"] == "US"].total.sum()
b

2106695.5606899997

In [52]:
round(a / b *100, )

95.97