# <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Statistics Session-5 <br> Basic Concepts of Hypothesis Testing <br> (30 Jun 22)</p>

## **In-Class**

### Importing libraries

In [5]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

### One Sample t Test

In [6]:
xbar = 10.5
sigma = 1.5
n = 40
mu = 10

H0: mu = 10

H1: mu > 10

### Test Statistic

In [7]:
z = (xbar - mu) / (sigma/np.sqrt(n))
z

2.1081851067789197

### p-value

In [8]:
p = 1 - stats.norm.cdf(z)
p

0.017507490509831247

In [ ]:
stats.ttest_1samp(a, 10, alternative='greater') # can't provide array-like sample data

In [10]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [11]:
df = sns.load_dataset('mpg')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [12]:
df[df["origin"] == "usa"].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,249.000000,249.000000,249.000000,245.00000,249.000000,249.000000,249.000000
mean,20.083534,6.248996,245.901606,119.04898,3361.931727,15.033735,75.610442
std,6.402892,1.661425,98.501839,39.89779,794.792506,2.751112,3.677094
min,9.000000,4.000000,85.000000,52.00000,1800.000000,8.000000,70.000000
25%,15.000000,4.000000,151.000000,88.00000,2720.000000,13.000000,73.000000
50%,18.500000,6.000000,250.000000,105.00000,3365.000000,15.000000,76.000000
75%,24.000000,8.000000,318.000000,150.00000,4054.000000,16.900000,79.000000
max,39.000000,8.000000,455.000000,230.00000,5140.000000,22.200000,82.000000

In [13]:
df.groupby("origin").horsepower.describe() # USA has the highest horsepower

        count        mean        std   min    25%    50%    75%    max
origin
europe   68.0   80.558824  20.157871  46.0  69.75   76.5   90.0  133.0
japan    79.0   79.835443  17.819199  52.0  67.00   75.0   95.0  132.0
usa     245.0  119.048980  39.897790  52.0  88.00  105.0  150.0  230.0

H0: mu = 110  (horsepower of US origin cars is 110)

H1: mu > 110

In [14]:
stats.ttest_1samp(df[df["origin"] == "usa"]["horsepower"], 110, alternative="greater") # null values in horsepower column

Ttest_1sampResult(statistic=nan, pvalue=nan)

In [15]:
stats.ttest_1samp(df[df["origin"] == "usa"]["horsepower"].dropna(), 110, alternative="greater")

Ttest_1sampResult(statistic=3.550044602017898, pvalue=0.0002310035889540432)

H0: mu = 22  (mpg of US origin cars is 22)

H1: mu < 22

In [16]:
stats.ttest_1samp(df[df["origin"] == "usa"]["mpg"], 22)

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=3.891005205691281e-06)

In [17]:
stats.ttest_1samp(df[df["origin"] == "usa"]["mpg"], 22, alternative="less")

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=1.9455026028456406e-06)

H0: mu = 100  (mpg of EU origin cars is 100)

H1: mu > 100

In [18]:
stats.ttest_1samp(df[df["origin"] == "europe"]["mpg"], 100, alternative="greater")

Ttest_1sampResult(statistic=-89.72485214478651, pvalue=1.0)

In [19]:
stats.ttest_1samp(df[df["origin"] == "europe"]["mpg"].dropna(), 100, alternative="greater")

Ttest_1sampResult(statistic=-89.72485214478651, pvalue=1.0)

In [20]:
df[df["origin"] == "europe"]["mpg"].isnull().sum()

0

H0: mu = 3000  (weight of EU origin cars is 3000)

H1: mu != 3000

In [21]:
stats.ttest_1samp(df[df["origin"] == "europe"]["weight"].dropna(), 3000)

Ttest_1sampResult(statistic=-9.84610838848352, pvalue=8.80766713530181e-15)

In [22]:
stats.ttest_1samp(df[df["origin"] == "europe"]["weight"],3000,nan_policy = 'omit')

Ttest_1sampResult(statistic=-9.84610838848352, pvalue=8.80766713530181e-15)

In [23]:
df[df["origin"] == "europe"]["weight"].mean()

2423.3